<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ponysay App</title>
  <link rel="stylesheet" href="https://unpkg.com/asciinema-player@2.6.1/resources/public/css/asciinema-player.css">
  <script src="https://unpkg.com/asciinema-player@2.6.1/resources/public/js/asciinema-player.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    #character {
      text-transform: capitalize;
    }
  </style>
  <script>
    fetch('/js/ponies.json')
      .then(response => response.json())
      .then(data => {
        const select = document.getElementById('character');
        const sortedPonies = data.ponies.sort();
        data.ponies.forEach(pony => {
          const option = document.createElement('option');
          const match = pony.match(/^(.*?)\s*\([^)]*\)$/);
          option.value = match ? match[1] : pony;
          option.textContent = pony.charAt(0).toUpperCase() + pony.slice(1);
          select.appendChild(option);
        });
      })
      .catch(error => {
        console.error('Error fetching ponies:', error);
      });
  </script>  
</head>
<body>
  <div class="container">
    <h1 class="text-center mt-3 mb-5">Ponysay with NodeJS</h1>

    <div class="row">
      <div class="col-md-4">
        <form method="post" action="/ponysay">
          <div class="form-group">
            <label for="character">Character:</label>
            <select id="character" name="character" class="form-control"></select>
          </div>
          <div class="form-group">
            <label for="message">Mensage:</label>
            <textarea id="message" name="message" class="form-control" rows="8" required><%=message %></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>

      <% if (castPath) { %>
        <div class="col-md-8">
          <% if (castPath) { %>
            <asciinema-player src="<%= castPath %>" autoplay></asciinema-player>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
